* {
    box-sizing: border-box;
}


html,
body {
    min-height: 100%;
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    height: 0 auto;
    background-color: #720004;
    line-height: 0.5;

    background-image: url("../img/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

}

header,
footer {
    background-color: #ba0000;
    color: #ffa600f6;
    text-align: center;
    padding: 28px 20px;
    font-family: Arial-black;
}

header {
    border-bottom: 5px solid #c9c900;
}

footer {
    border-top: 5px solid #c9c900;

}

header p {
    color: #fff78798;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: #000000c9;
    border: 2px solid #000000ca;
    border-radius: 20px;
    padding: 15px 15px;
    text-decoration: none;
    display: inline-block;
    margin: 3px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #FFD700;
    ;
    transform: scale(1.1);
}

nav .atual {
    background-color: #9f8d01c8;
}

main p {
    text-align: center;
    width: 90%;
    max-width: 1080px;
    margin: 32px auto;
}

.imagem img {
    border: 0;
    width: 100%;
    height: 0 auto;
}

.mcard {
    background-color: #1a1a1a;
    color: white;
    border: 2px solid #d4af00;
    border-radius: 10px;
    margin: 70px;
}

.icard {
    background-color: #8b0000;
    color: #ffd700;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

.icard h2 {
    color: #FFD700;
    font-size: 40px;
    margin: 10px 10px 30px;
}

.icard p {
    color: #D0D0D0;
    font-size: 20px;
    flex: 1;
    margin: 10px 10px 30px;
}

.icard img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    border: 3px solid #d4af00;

}

.texto {
    display: flex;
    align-items: center;
    flex: 1;
    line-height: 1.5;
    font-size: 20px;
}

.texto-historia {
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    text-align: justify;
    margin: 40px !important;
}





.tecnologias {
    width: 85%;
    max-width: 900px;
    margin: 60px auto;
    text-align: center;
}

.tecnologias h2 {
    color: #FFD700;
    margin: 30px;
}

.tecnologias-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.tecnologias-container a {
    width: 130px;
    height: 130px;

    background-color: #1A1A1A;
    border: 2px solid #8B0000;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    transition: 0.3s;
}

.tecnologias-container i {
    font-size: 50px;
    color: #B00020;
    margin: 10px;
}

.tecnologias-container p {
    color: #FFD700;
    margin: 0;
    line-height: 1.1;
}

.tecnologias-container a:hover {
    transform: translateY(-5px);
    border-color: #FFD700;
}

.tecnologias-container a:hover i {
    color: #FFD700;
}





@media (max-width: 768px) {
    header, footer{
        line-height: 1.2;
    }
    .texto {
        flex-direction: column;
        text-align: center;
    }

    .texto img {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }
    .texto-historia{
        font-size: 20px;
    }
    .mcard{
        margin: 20px;
    }
    .icard h2{
        font-size: 35px;
        line-height: 1.2;
    }
}